<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        src="https://www.fivemin.in/android-chrome-192x192.png"
        alt="Fivemin"
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      &nbsp;
      <strong>Fivemin Admin</strong>
    </a>
  </div>
</nav>
